{{! Templates

Link
==============
<li class="drawer-list-item">
  <a href="#" title="Follow me on twitter!">
    <i class="fa fa-twitter"></i> Follow me
  </a>
</li>

Divider
==============
<li class="drawer-list-divider"></li>

Title
==============
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>

ProTip:
==============
Ghostium uses Font Awesome you can find all icons available on the url below
  http://fortawesome.github.io/Font-Awesome/cheatsheet/

}}

<li class="drawer-list-item">
  <a href="/" data-pjax>
    <i class="fa fa-home"></i>Home
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://wilsonyu.io/about-me/" data-pjax>
    <i class="fa fa-user"></i>About Me
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://wilsonyu.io/portfolio/" data-pjax>
    <i class="fa fa-codepen"></i>Portfolio
  </a>
</li>
<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>
<li class="drawer-list-item">
  <a href="http://linkedin.com/in/wilsonyu2" target="_blank">
    <i class="fa fa-linkedin-square"></i>LinkedIn
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://github.com/somethiiing" target="_blank">
    <i class="fa fa-github"></i>Github
  </a>
</li>
<li class="drawer-list-item">
  <a href="mailto:wilsonweichengyu@gmail.com" target="_blank">
    <i class="fa fa-envelope-o"></i>Mail
  </a>
</li>
